.img-sec{
    border-radius: 5px;
    margin-left: 50px;
    width: 50%;
    margin-top: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(95, 87, 87);
}
.img-sec img{
    width: 25%;
   
}
.details{
   display: flex;
   align-items: center;
  margin-right: 200px;
  gap: 20px;
   
}
button{
    margin-left: 10px;
    padding: 10px;
   border: 0px;
   border-radius: 2px;
    background-color: rgb(244, 11, 11);
}
