.nav-color{
    display: flex;
    background-color: rgb(222, 46, 46);
    padding: 20px;
    align-items: center;
   justify-content: space-between;
   
}
.header a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    margin-left: 30px;
    padding-right: 10px;
}
.header a:hover{
    color: rgb(15, 12, 6);
}
.header-back img{

    width: 40%; 

margin-top: 20px;
border-radius: 30px;
margin-bottom: 0px;  
}
.header-back{
    margin-top: 10px;
  display: flex;
  border-radius: 20px;
    align-items: center;
background-color: rgb(12, 7, 7);
height: 200;
}
h2{
    color: rgb(236, 133, 65);

}

